@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.isamanroo-font {
   font-family: 'GongGothicMedium', sans-serif;
}
.anton-font {
   font-family: 'Anton', sans-serif;
}
.sbaggro-font {
   font-family: 'SBAggroB', sans-serif;
}
body {
    background-color: #0f0f0f;
}
.display-container {
    max-width: 415px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    overflow-x: hidden;
}
.main{
    position: relative;
    min-height: 100vh;
}
.main video{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:-1;
}
.glitch {
    position: relative;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 6px;
    z-index: 1;
    text-shadow: 2px 2px 5px black;
}
.glitch:before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    color: #fff;
    background-color: rgba(33, 33, 33, 0);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 3s infinite linear alternate-reverse;
 }
 
 .glitch:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    color: #fff;
    background-color: rgba(33, 33, 33, 0);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2s infinite linear alternate-reverse;
 }
 
 @keyframes noise-before {
    0% {
       clip: rect(61px, 9999px, 52px, 0);
    }
 
    5% {
       clip: rect(33px, 9999px, 144px, 0);
    }
 
    10% {
       clip: rect(121px, 9999px, 115px, 0);
    }
 
    15% {
       clip: rect(144px, 9999px, 162px, 0);
    }
 
    20% {
       clip: rect(62px, 9999px, 180px, 0);
    }
 
    25% {
       clip: rect(34px, 9999px, 42px, 0);
    }
 
    30% {
       clip: rect(147px, 9999px, 179px, 0);
    }
 
    35% {
       clip: rect(99px, 9999px, 63px, 0);
    }
 
    40% {
       clip: rect(188px, 9999px, 122px, 0);
    }
 
    45% {
       clip: rect(154px, 9999px, 14px, 0);
    }
 
    50% {
       clip: rect(63px, 9999px, 37px, 0);
    }
 
    55% {
       clip: rect(161px, 9999px, 147px, 0);
    }
 
    60% {
       clip: rect(109px, 9999px, 175px, 0);
    }
 
    65% {
       clip: rect(157px, 9999px, 88px, 0);
    }
 
    70% {
       clip: rect(173px, 9999px, 131px, 0);
    }
 
    75% {
       clip: rect(62px, 9999px, 70px, 0);
    }
 
    80% {
       clip: rect(24px, 9999px, 153px, 0);
    }
 
    85% {
       clip: rect(138px, 9999px, 40px, 0);
    }
 
    90% {
       clip: rect(79px, 9999px, 136px, 0);
    }
 
    95% {
       clip: rect(25px, 9999px, 34px, 0);
    }
 
    100% {
       clip: rect(173px, 9999px, 166px, 0);
    }
 }
 
 @keyframes noise-after {
    0% {
       clip: rect(26px, 9999px, 33px, 0);
    }
 
    5% {
       clip: rect(140px, 9999px, 198px, 0);
    }
 
    10% {
       clip: rect(184px, 9999px, 89px, 0);
    }
 
    15% {
       clip: rect(121px, 9999px, 6px, 0);
    }
 
    20% {
       clip: rect(181px, 9999px, 99px, 0);
    }
 
    25% {
       clip: rect(154px, 9999px, 133px, 0);
    }
 
    30% {
       clip: rect(134px, 9999px, 169px, 0);
    }
 
    35% {
       clip: rect(26px, 9999px, 187px, 0);
    }
 
    40% {
       clip: rect(147px, 9999px, 137px, 0);
    }
 
    45% {
       clip: rect(31px, 9999px, 52px, 0);
    }
 
    50% {
       clip: rect(191px, 9999px, 109px, 0);
    }
 
    55% {
       clip: rect(74px, 9999px, 54px, 0);
    }
 
    60% {
       clip: rect(145px, 9999px, 75px, 0);
    }
 
    65% {
       clip: rect(153px, 9999px, 198px, 0);
    }
 
    70% {
       clip: rect(99px, 9999px, 136px, 0);
    }
 
    75% {
       clip: rect(118px, 9999px, 192px, 0);
    }
 
    80% {
       clip: rect(1px, 9999px, 83px, 0);
    }
 
    85% {
       clip: rect(145px, 9999px, 98px, 0);
    }
 
    90% {
       clip: rect(121px, 9999px, 154px, 0);
    }
 
    95% {
       clip: rect(156px, 9999px, 44px, 0);
    }
 
    100% {
       clip: rect(67px, 9999px, 122px, 0);
    }
 }
 .sub-title {
    text-shadow: 2px 2px 5px black;
 }
 .btn-main {
    position: relative;
    z-index: 1;
    text-decoration-line: none;
    filter: drop-shadow(0px 0px 8px #ffffff);
}
 .btn-main-waterisland-in{
    color: #6bc6dd;
    background: #000000;
    width: 98%;
    height: 100%;
    clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
 }
 .btn-main-waterisland-out {
    position: absolute;
    background: #6bc6dd;
    width: 100%;
    height: 110%;
    z-index: -1;
    clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
}
.btn-main-waterisland-in:hover {
    color: #ffffff;
    background-color: #55d6f6;
    width: 98%;
    height: 100%;
    clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
    transition: 0.3s;
}
.btn-main-romanticisland-in {
    color: #c62b6b;
    background: #000000;
    width: 98%;
    height: 100%;
    clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
    transition: 0.3s;
}

.btn-main-romanticisland-out {
    position: absolute;
    background: #c62b6b;
    width: 100%;
    height: 110%;
    z-index: -1;
    clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
}

.btn-main-romanticisland-in:hover {
    color: #ffffff;
    background-color: #e43a81;
    width: 98%;
    height: 100%;
    clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
    transition: 0.3s;
}

.btn-main-gardenisland-in {
    color: #287e3a;
    background: #000000;
    width: 98%;
    height: 100%;
    clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
    transition: 0.3s;
}
.btn-main-gardenisland-out {
    position: absolute;
    background: #287e3a;
    width: 100%;
    height: 110%;
    z-index: -1;
    clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
}

.btn-main-gardenisland-in:hover {
    color: #ffffff;
    background-color: #29a844;
    width: 98%;
    height: 100%;
    clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
    transition: 0.3s;
}
.wayto-water-island {
    position: absolute;
    z-index: 1;
    bottom: 0;
    margin-bottom: 35px;
}

.wayto-water-island p {
    font-size: 12px;
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 5px;
}

.wayto-water-island img {
    width: auto;
    height: 40px;
    filter: drop-shadow(2px 2px 5px #000000);
}

.waterisland-section {
    background-color: #000000;
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    z-index: 0;
}

.waterisland-section .island-title {
    font-size: 30px;
    color: black;
    margin-bottom: -30px;
    -webkit-text-stroke: 1px #6bc6dd;
}

.waterisland-section .poolus-title {
    font-size: 100px;
    color: #6bc6dd;
}

.waterisland-section .section-description {
    color: #6bc6dd;
    font-size: 15px;
    text-shadow: 2px 2px 5px black;
}

.main-waterIslandBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.main-waterIslandBtn button {
    padding: 10px !important;
    margin-bottom: 0 !important;
    background-color: #6CC7DF;
    border-radius: 10px !important;
    border: none;
    font-size: 20px;
    font-family: SBAggroB;
    width: 200px;
    color: black;
    filter: drop-shadow(2px 2px 5px #000000);
}

.waterisland-img {
    position: absolute;
    z-index: -1;
    bottom: 0;
}

.wayto-romantic-island {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.wayto-romantic-island p {
    font-size: 12px;
    font-weight: 900;
    color: #000000;
    /* text-shadow: 2px 2px 5px black; */
    margin-bottom: 5px;
}

.wayto-romantic-island img {
    width: auto;
    height: 40px;
    filter: drop-shadow(2px 2px 5px #000000);
}

.waterisland-title {
    position: relative;
}
.wave-line-1, .wave-line-2 {
   height: auto;
   position: absolute;
   width: 100px;
   z-index: -1;
}
.wave-line-1 {
   right: -65px;
   top: 10px;
}
.wave-line-2 {
   bottom: 50px;
   left: -65px;
}
.romanticisland-section {
   background-color: #9fd5f4;
   min-height: 100vh;
   padding-top: 100px;
   position: relative;
   z-index: 0;
}
.romanticisland-title {
   position: relative;
}
.text-center{
   text-align: center !important;
}
.romanticisland-section 
.island-title {
   -webkit-text-stroke: 1px #c62b6b;
   color: transparent;
   font-size: 30px;
   font-weight: 900;
   margin-bottom: -30px;
}
.romanticisland-section .poolus-title {
   color: #c62b6b;
   font-size: 100px;
   margin-bottom: 0;
}
.cloud-1, .cloud-2 {
   height: auto;
   position: absolute;
   width: 155px;
   z-index: -1;
}
.cloud-1 {
   left: 0;
   top: -30px;
}
.cloud-2 {
   right: -35px;
   top: 150px;
}
.cloud-3 {
   height: auto;
    left: -25px;
    position: absolute;
    top: 350px;
    width: 155px;
    z-index: -1;
}
.hashtag span {
   background-color: #c62b6b;
   color: #9fd5f4;
   font-size: 12px;
}
.mx-1 {
   margin-left: 0.25rem !important;
   margin-right: 0.25rem !important;
}
.romanticisland-section
.section-description {
   color:#c62b6b;
   font-size: 15px;
   margin-top: 30px;
}
.heart-group {
   position: relative;
}
.heart-1 {
   height: auto;
   left: 50px;
   position: absolute;
   width: 100px;
}
.heart-2, .heart-3 {
   height: auto;
   position: absolute;
   width: 50px;
}
.heart-2 {
   right: 100px;
}
.heart-3 {
   right: 55px;
   top: 40px;
}
.romanticisland-img {
   bottom: 0;
   position: absolute;
   z-index: -1;
}
.img-fluid {
   height: auto;
   max-width: 100%;
}
.wayto-garden-island {
   bottom: 0;
   left: 50%;
   margin-bottom: 20px;
   position: absolute;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
}
.wayto-garden-island p{
   color: #c62b6b;
   font-size: 12px;
   font-weight: 900;
   margin-bottom: 5px;
}
.wayto-garden-island img {
   height: 40px;
   width: auto;
}
.gardenisland-section {
   background-color: #fef5e8;
   min-height: 100vh;
   padding-top: 100px;
   position: relative;
   z-index: 0;
}
.gardenisland-title {
   position: relative;
}
.gardenisland-section .island-title {
   -webkit-text-stroke: 1px #287e3a;
   color: transparent;
   font-size: 30px;
   font-weight: 900;
   margin-bottom: -30px;
}
.gardenisland-section .poolus-title {
   color: #287e3a;
   font-size: 100px;
   margin-bottom: 0;
}
.garden-cloud-1, .garden-cloud-2 {
   height: auto;
   position: absolute;
   width: 155px;
   z-index: -1;
}
.garden-cloud-1 {
   left: 0;
   top: 30px;
}
.garden-cloud-2 {
   right: -35px;
   top: 150px;
}
.garden-cloud-3 {
   height: auto;
   left: -25px;
   position: absolute;
   top: 265px;
   width: 155px;
   z-index: 1;
}
.garden-cloud-4 {
   height: auto;
   position: absolute;
   right: 10px;
   top: 440px;
   width: 100px;
   z-index: -1;
}
.gardenisland-section .section-description {
   color : #287e3a;
   font-size: 15px;
   margin-top: 30px;
   text-shadow: 0 0 10px #fff;
}
.gardenIslandBtn{
   align-items: center;
   display: flex;
   flex-direction: column;
   margin-top: 20px;
}
.gardenIslandBtn button {
   background-color: #287e3a;
   border: none;
   border-radius: 10px;
   color: #fef5e8;
   font-family: SBAggro2;
   font-size: 20px;
   margin-bottom: 0;
   padding: 10px;
   width: 200px;
}
.gardenisland-img {
   bottom: 0;
   position: absolute;
   z-index: -1;
}
