body {
    background-color: #0f0f0f;
}
.display-container {
    box-shadow: 0 0 15px 0 hsla(0, 0%, 100%, .75);
    max-width: 415px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    background-image: url('./artist_img/waterback.png');
    background-size: cover;
}
@font-face {
    font-family: 'LOTTERIADDAG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.ddag_font {
    font-family: 'LOTTERIADDAG';
}
.day {
    font-size: 20px;
    border-bottom: 5px solid black;
    color: white;
}
.DayUnact {
    border-bottom: 5px solid rgb(0,0,0,0.5);
    color: rgb(255, 255, 255, 0.8);
}
.day a {
    color: inherit;
    text-decoration: none;
}
.artist {
    position: relative;
}
.artist_img img {
    width: 280px;
    margin-right: 50px;
}
.artist_name {
    position: absolute;
    right: 38px;
    font-size: 60px;
    bottom: 63px;
    text-shadow: 2px 2px #6BC6DD;
}
.artist_time {
    position: absolute;
    font-size: 30px;
    right: 40px;
    bottom: 37px;
    text-shadow: 2px 2px #6BC6DD;
}
.artist_img_k img {
    width: 280px;
    margin-left: 80px;
}
.artist_name_k {
    position: absolute;
    left: 38px;
    font-size: 60px;
    bottom: 63px;
    text-shadow: 2px 2px #6BC6DD;
}
.artist_time_k{
    position: absolute;
    font-size: 30px;
    left: 40px;
    bottom: 37px;
    text-shadow: 2px 2px #6BC6DD;
}
.artist_img_L img {
    width: 280px;
    margin-right: 80px;
}
.artist_name_L {
    position: absolute;
    right: 38px;
    font-size: 60px;
    bottom: 63px;
    text-shadow: 2px 2px #6BC6DD;
}
.artist_time_L {
    position: absolute;
    font-size: 30px;
    right: 40px;
    bottom: 37px;
    text-shadow: 2px 2px #6BC6DD;
}
.artist_img_B img {
    width: 280px;
    margin-left: 80px;
}
.artist_name_B {
    position: absolute;
    left: 38px;
    font-size: 45px;
    bottom: 63px;
    text-shadow: 2px 2px #6BC6DD;
}
.artist_time_B{
    position: absolute;
    font-size: 25px;
    left: 40px;
    bottom: 37px;
    text-shadow: 2px 2px #6BC6DD;
}
.artist_section {
    padding-top: 85px;
}
nav {
    width: 415px;
    margin: 0 auto;
    background-image: url('./artist_img/waterback.png');
    background-size: cover;
}